<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>{{ titleNgClass }}</strong>
      </mat-panel-title>

      <mat-panel-description>
        <p>
          <b>ngClass</b> - podemos atribuir classes a elementos HTML dependendo
          da condição booleana que for atribuída. <br />
          <b>ngStyle</b> - podemos atribuir estilos dinâmicos a qualquer
          elemento do HTML partindo de uma informação vinda do .ts
        </p>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <article class="articles">
      <!-- Forma não legal-->
      <div [class.blue]="testeClass" [class.red]="testeClass === false">
        teste
        <br />
        <h2
          [class.h2-white]="testeClass"
          [class.h2-black]="testeClass === false"
        >
          Forma não tão legal
        </h2>
      </div>

      <div [ngClass]="{ blue: testeClass, red: !testeClass }">
        <h2 [ngClass]="{ 'h2-white': testeClass, 'h2-black': !testeClass }">
          Forma legal de fazer
        </h2>
      </div>

      <button mat-raised-button color="primary" (click)="alterarClasse()">
        Alterar estilo boolean
      </button>
    </article>
    <br /><br />
    <article class="articles">
      <h2 [ngStyle]="estiloH2">Testando</h2>
    </article></mat-expansion-panel
  ></mat-accordion
>
