.container {
    display: flex;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}